<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Tests" parallel="false">

    <!--<test name="Test in Firefox">-->
    <!--<parameter name="browser" value="firefox"/>-->
    <!--<classes>-->
    <!--<class name="tests.TryTest">-->
    <!--<methods>-->
    <!--<include name="searchGoogle"/>-->
    <!--</methods>-->
    <!--</class>-->
    <!--</classes>-->
    <!--</test>-->

    <test name="API Test">
        <classes>
            <class name="tests.api.MainApiTest">
            </class>
        </classes>
    </test>

    <!--<test name="Test in Chrome">-->
        <!--<parameter name="browser" value="chrome"/>-->
        <!--<classes>-->
            <!--<class name="tests.webui.MainUiTest">-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

    <!--<test name="Test in Firefox">-->
        <!--<parameter name="browser" value="firefox"/>-->
        <!--<classes>-->
            <!--<class name="tests.webui.MainUiTest">-->
            <!--</class>-->
        <!--</classes>-->
    <!--</test>-->

</suite>